body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4f5458, #69989b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #9c9c9c;
    padding: 25px 30px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 0; /* sharp corners */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000;
    outline: none;
    border-radius: 0; /* sharp corners */
}

textarea {
    resize: none;
}

.gender {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.gender input {
    width: auto;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #1d1e1f;
    border: 1px solid #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0; /* sharp corners */
}

button:hover {
    background-color: #2f80ed;
}
